.card-content > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.card-content > .mdl-card__actions > .material-icons {
  padding-right: 20px;
}

.card-contact > .mdl-card__actions,
.card-contact > .mdl-card__actions > .mdl-button {
  color: #fff;
}
.mdl-card {font-family:roboto;
  box-sizing: border-box;
  background-color: #ffffff;
  max-height: 380px;
  min-width:220px;
  padding-left: px;
  padding-top: px;
  color: black;
}
.card-content {font-family:roboto;
  background-color: #ffffff;
  height:0px auto;
  color: black;
}
.mdl-layout__content {
 padding:px;
 background:#dddddd;
 }
@media all and (min-width: 280px) {
#c1 {font-size: 1.8em;}
#c2 {font-size: 1.0em;}
  }
@media all and (min-width: 480px) {
.mdl-grid {font-size: ;}
.mdl-cell {padding:;}
#c1 {font-size: 1.8em;}
#c2 {font-size: 1.0em;}
  }
@media all and (min-width: 600px) {
#c1 {font-size: 2.5em;}
#c2 {font-size: 1.0em;}
  }
@media all and (min-width: 840px) {
#c1 {font-size: 2.8em;}
#c2 {font-size: 1.7em;}
  }
.mdl-layout__drawer-button {
  line-height: 2;
}
.social-btn__twitter {
    background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_twitter_white_18dp.png');
}
button.social-btn {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    margin:  ;
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 1;
    border-radius: 2px;
}
.mdl-mini-footer--social-btn .mdl-mini-footer__social-btn {
    width: 36px;
    height: 36px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}
