.demo-grid.mdl-grid {
  border:0px solid ; 
  height: auto; 
  padding:5px;
  width: auto;
  background:#dddddd;
 }
.demo-mdl.mdl-card {
  border:1px solid ; 
  margin:5px;
  width:auto;
  height:320px;
 }
.demo-content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 20px;
  margin-top: 5px;
  height:220px;
}
.mdl-layout__drawer-button {
  line-height: 2;
}
.social-btn__twitter {
    background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_twitter_white_18dp.png');
}
button.social-btn {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    margin:  ;
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 1;
    border-radius: 2px;
}
.mdl-mini-footer--social-btn .mdl-mini-footer__social-btn {
    width: 36px;
    height: 36px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}
